# Ignore all build folders except the source
build/
DerivedData/

# CocoaPods
Pods/
Podfile.lock
Example/Pods/
Example/Podfile.lock
Example/build/
Example/DerivedData/

# Xcode
*.xcworkspace
*.xcuserdata
*.xccheckout
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xcarchive

# SwiftPM
.swiftpm/
Package.resolved

# Other
.DS_Store
*.swp
*.swo
*.orig
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Ignore everything in BreadPartnersSDK except source files
# (if it was previously being ignored)
!BreadPartnersSDK/
!BreadPartnersSDK/**

# Optional: if you want to ignore specific files inside that directory
# BreadPartnersSDK/Tests/
# BreadPartnersSDK/SomeBuildArtifacts/


# Ignore 
**/TestData.swift
Example/BreadPartnersSDK/TestData.swift